a.button--back-home,
a.button--back-panel {
  display: block;
  background-color: slategrey;
  color: #ffffff;
  padding: 1rem;
  text-decoration: none;
  &:before {
    content: '< ';
  }
}

div[class*="panel-nav"],
div[class*="panel-nav"] {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $c-white;
  @include transition();
}
